
/* 화면 가장자리에 있는 기본 디자인들 싹다 제거 */
*, 
*:before, 
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 화면 전체 */
body{
    background-color: black;
}

/* 전체 바탕 화면 */
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50% -50%);
    left: 50%;
    top: 50%;
}

/* 바탕 화면 동그라미들 */
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(to right, #629cdf, #3485e2);
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(to right, #f8c78f, #ee9b20);
    right: -30px;
    bottom: -80px;
}

/* 입력 폼 */
form{

    padding: 30px;
    height: 520px;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.13);
    border-radius: 10px;
    transform: translate(-50% -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255 , 255, 0.1);
    box-shadow:  0 0 40px rgb(8, 7, 16, 0.6);

}

form *{
    font-family: 'Poppins', "sans-serif";
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{

    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;

}

label{

    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255 , 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: white;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

