#result{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    height: 50px;
    background-color: lightcyan;
    border: 1px solid lightcoral;
    padding: 10px;
    border-radius: 10px;
}