    h1, h2{
            margin-top: 100px;
            font-size: 50px;
            text-align: center;
        }
    img {
        display: block;
        margin: 20px auto;
    }
    ul{
        list-style:square;
        list-style-position: outside; 
        text-align: left;             
    }
    li{
        font-size: 40px;
        margin-top: 40px;
        width: 700px;
    }
    hr{
        border: 3px dashed blue;
        width: 330px;
    }
    button{
        font-size: 70px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        color: blue;
        background-color: #ffffff;
        border: none;
    }
    body{
        background-color: #ffffff;
    }
    #container{
        background-color: #b3c9d8;
        width: 70%;
        margin: 10% auto;
        border-radius: 20px;
    }
    #info{
    width: 400px;
    margin: 150px auto; 
    text-align: left; 
    }
    #info2{
    width: 400px;
    margin-left: 40px; 
    text-align: left; 
    }
    .subtext{
        width: 1000px;
        font-size: 30px;
        list-style:disc;
        text-align: left;
        margin-top: 0px;   
    }
    