*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #290b7c 0%, #341d72 50%, #290b7c 100%);
}

form * {
    font-family: 'Poppins', "sans-serif";
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form {

    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 30px 50px;

    backdrop-filter: blur(10px);
    border: 2px solid rgb(17, 17, 17);
    border-radius: 10px;
    box-shadow: 0 0 100px rgb(8, 7, 16, 0.6);
    opacity: 0.8;
}

form h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 0.7;
    background-color: white;
    color:  black;
}

form button {
    font-size: 15px;
    font-weight: 900;
    width: 90%;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    background-color: #720ec4;
    margin-bottom: 50px;
}

form button:hover{
    cursor: pointer;
}

.sign-up{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    padding: 20px 0;            
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    clip-path: ellipse(50% 80% at 50% 100%);
}