* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(89, 9, 238);
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.bg-wrapper {
    position: absolute;
    inset: 0;
}

.login-card {
    position: relative;
    padding: 50px;
    z-index: 10;
    background:linear-gradient(180deg, #9e9ba0 0%, #686565 50%, #1f1e1e 100%); 
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
}

.login-card h1 {
    padding: 14px 16px;
    font-size: 32px;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 18px;
    font-size: 15px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
}

input::placeholder{
    color: black;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember {
    font-size: 14px;
}

.forgot {
  font-size: 14px;
  color: rgb(54, 2, 41);
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 9999px;

  background: linear-gradient(to right, #a855f7, #ec4899);
  color: white;
  font-size: 16px;
  cursor: pointer;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.btn:hover {
  background: linear-gradient(to right, #9333ea, #db2777);
}

.footer-text{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text a{
    font-size: 14px;
    color: rgb(54, 2, 41);
    text-decoration: none;
    
}

.footer-text a:hover{
    
  text-decoration: underline;
}

