* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "맑은 고딕", sans-serif;
    background: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-wrapper {
    position: absolute;
    inset: 0;
    background-color: rgb(27, 33, 48);
}

.login-card {
    position: relative;
    z-index: 10;

    width: 100%;
    max-width: 400px;

    background: rgb(37, 43, 63);
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card h1 {
    color: rgb(252, 250, 250);
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 300px;
    padding: 14px 16px;
    margin-bottom: 30px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #9b9a9a;
    display: block;
    text-decoration-color: white;
    border-radius: 10px;
}

input::placeholder{
    color: white;
    opacity: 50%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.remember {
    font-size: 14px;
    color: white;
}

.forgot {
  font-size: 14px;
  color: rgb(142, 143, 243);
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.btn{
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}

.footer-text{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.footer-text a{
    color: rgb(142, 143, 243);
    font-size: 14px;
    text-decoration: none;
}

.footer-text a:hover{
   text-decoration: underline;
}

.social {
  margin-top: 20px;
  display: flex;
  gap: 12px; 
  justify-content: center;
}

.social button {
  display: flex;
  align-items: center;
  gap: 8px; 
  padding: 10px 16px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.social button img {
  width: 20px;
  height: 20px;
}

